<p id="notice"><%= notice %></p>

<table>
  <tbody>
    <tr>
      <td style="padding-right: 50px;"><%= link_to 'New Team', new_team_path %></td>
      <td><%= link_to 'Back To Matches', matches_path %><br></td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <!--<td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
        <td><%= link_to 'View Members', team_members_path(team) %></td>
      </tr>
    <% end %>
  </tbody>
</table>