<br/>
<div class="container-fluid">
  <div class="container-fluid">
    <div class="font-weight-bold h1"> 
      <%= @match.team_one.name %> Vs <%= @match.team_two.name %>
      <% @total.each do |key, value| %>
        <% if key == @match.team_one.name && value == 29 %>
          <% @flag = "disable_link" %>
          <div class="float-right">
            Winner: <%= key %>
          </div>
          <% elsif key == @match.team_two.name && value == 29 %>
            <% @flag = "disable_link" %>
            <div class="float-right">
              Winner: <%= key %>
          </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div><br/>
 
<div class="container-fluid">
  <div class="container-fluid">
    <div class="font-weight-bold h3">
      Started: <%= @match.created_at.strftime("%d-%B-%Y %I:%M %p") %>
      <%= link_to 'All Matches', matches_path, class: "btn btn-primary float-right ml-2" %>
      <%= link_to 'Add Score', new_match_score_path(@match), class: "#{@flag} btn btn-success float-right " %>
    </div>
  </div>
</div><br/>

<div class="container-fluid">
  <div class="row">
    <% @scores.each do |score| %>
      <div class=" col-6 col-md-4 col-sm-6 my-4">
        <div class="card border border-dark">
          <div class="card-body ">
            <div class="card-title text-center">
              <div class="font-weight-bold h4">
                #<%= score.set %>
                <%= score.created_at.strftime("%d-%B-%Y %I:%M %p") %>
              </div>
            </div>
            <div class="card-title text-center font-weight-bold h4">
              <%= score.team.name %> - <%= score.score %>
            </div>
              <div class="card-text text-center font-weight-bold font-italic h4">
                <%= @match.team_one.name %> <%= @sets[@match.team_one.id][score.set] %> - 
                <%= @sets[@match.team_two.id][score.set] %> <%= @match.team_two.name %> 
              </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>