<p id="notice"><%= notice %></p>
<h3 align="center"><%= @match.team_one.name %> Vs <%= @match.team_two.name %></h3>
<div class="">
  <% @flag = "" %>
  <% @total.each do |key, value| %>
      <% if key == @match.team_one.name && value == 29 %>
        <% @flag = "disable_link" %>
        <h2 align="center"> Winner: <%= key %> </h2>
      <% elsif key == @match.team_two.name && value == 29 %>
        <% @flag = "disable_link" %>
        <h2 align="center"> Winner: <%= key %> </h2>
      <% end %>
    <% end %>
</div>
<div class="">
  <%= link_to 'Add Score', new_match_score_path(@match), class: "#{@flag}" %> |
  <%= link_to 'All Matches', matches_path %>
</div>
<% @total.each do |key, value| %>
<span style='margin-right:20px'>
     <%= key %> <%= ":" %> <strong><%= value %></strong>
</span>
<% end %>

<table>
  <thead>
    <tr>

    </tr>

  </thead>
  <tbody>
    <tr>
      <td style="padding-right: 50px;"></td>
      <td style="padding-right: 50px;"></td>

    </tr>
  </tbody>
</table>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Set</th>
      <th>Score</th>
      <th>Team</th>
      <th colspan="5"></th>
    </tr>
  </thead>
  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td><%= score.set %></td>
        <td><%= score.score %></td>
        <td><%= score.team.name %></td>
        <!--<td><%= link_to 'Show', match_score_path(@match, score) %></td>
        <td><%= link_to 'Edit', edit_match_score_path(@match, score) %></td>
        <td><%= link_to 'Destroy', match_score_path(@match, score), method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>
