<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <h1 class="display-4" align="center">Scores</h1>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="padding-right: 50px;"><%= link_to 'New Score', new_match_score_path(@match) %></td>
      <td style="padding-right: 50px;"><%= link_to 'Back To Matches', matches_path %></td>
      <% @total.each do |key, value| %>
        <td class="font-weight-bold"> <%= key %> <%= ":" %></td>
        <td class="font-weight-bold" style="padding-right: 20px;"><%= value %></td>
      <% end %>
    </tr>
  </tbody>
</table>


<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Set</th>
      <th>Score</th>
      <th>Team</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td><%= score.set %></td>
        <td><%= score.score %></td>
        <td><%= score.team.name %></td>
        <td><%= link_to 'Show', match_score_path(@match, score) %></td>
        <td><%= link_to 'Edit', edit_match_score_path(@match, score) %></td>
        <!--<td><%= link_to 'Destroy', match_score_path(@match, score), method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>
