<div class="container-fluid">
    <div class="font-weight-bold h3" style='margin-top:10px'>
      <%= @match.team_one.name %> Vs <%= @match.team_two.name %>
      <span class='match-start-time'>
        <%= @match.created_at.strftime("%d-%B %I:%M %p") %>
      </span>
    </div>
</div>
<div class="container-fluid">
  <div class="row">
    <% @total.each do |key, value| %>
      <% if key == @match.team_one.name && value == 29 %>
        <% @flag = "disable_link" %>
        <div class="match-winner">
          Winner: <%= key %>
        </div>
        <% elsif key == @match.team_two.name && value == 29 %>
          <% @flag = "disable_link" %>
          <div class="match-winner">
            Winner: <%= key %>
        </div>
        <% end %>
      <% end %>
  </div>
</div>
<div class="container-fluid">
  <div class="container-fluid">
    <div class="font-weight-bold heading-action">
      <%= link_to 'All Matches', matches_path, class: "btn btn-primary btn-sm float-right ml-2" %>
      <%= link_to 'Add Score', new_match_score_path(@match), class: "#{@flag} btn btn-success btn-sm float-right " %>
    </div>
    <div class="clearfix">

    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <% @scores.each do |score| %>
      <div class="col-md-4 col-sm-12 my-4.score-card">
        <div class="card border border-dark">
          <div class="card-body score-card-body">
            <div class="card-title text-center score-card-title">
              <div class="font-weight-bold">
                
                <span class='float-left'>
                  #<%= score.set %>
                </span>
                
                <span class='float-right'>
                  <%= score.created_at.strftime("%I:%M %p") %>
                </span>
              </div>
            
              <div class="clearfix">
              </div>
            </div>
            <div class="card-title text-center font-weight-bold actual-score">
              <%= score.team.name %> - <%= score.score %>
            </div>

            <div class="card-title text-center font-weight-bold">
              <% if @members_team_one.length == 1 %>
                <% @members_team_one.each do |member| %>
                  <%= member.user.name %>
                <% end %> (<%= @match.team_one.name %>) Vs
              <% end %>

              <% if @members_team_one.length == 2 %>
                <% @members_team_one.each_with_index do |member, index| %>
                  <% if index == 0 %>
                    <%= member.user.name %>,
                  <% else %>
                    <%= member.user.name %>
                  <% end %>
                <% end %> (<%= @match.team_one.name %>) Vs
              <% end %>

              <% if @members_team_two.length == 1 %>
                <% @members_team_two.each do |member| %>
                  <%= member.user.name %>
                <% end %>(<%= @match.team_two.name %>)
              <% end %>

              <% if @members_team_two.length == 2 %>
                <% @members_team_two.each_with_index do |member, index| %>
                  <% if index == 0 %>
                    <%= member.user.name %>,
                  <% else %>
                    <%= member.user.name %>
                  <% end %>
                <% end %> (<%= @match.team_two.name %>)
              <% end %>
            </div>

            <div class="card-text text-center font-weight-bold font-italic">
              <%= @match.team_one.name %> <%= @sets[@match.team_one.id][score.set] %> -
              <%= @sets[@match.team_two.id][score.set] %> <%= @match.team_two.name %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>