<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th><h1>Scores</h1></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to 'New Score', new_match_score_path(@match) %></td>
      <td><%= link_to 'Back To Matches', matches_path %></td>
    </tr>
  </tbody>
</table>


<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Set</th>
      <th>Score</th>
      <th>Team</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td><%= score.set %></td>
        <td><%= score.score %></td>
        <td><%= score.team.name %></td>
        <td><%= link_to 'Show', match_score_path(@match, score) %></td>
        <td><%= link_to 'Edit', edit_match_score_path(@match, score) %></td>
        <!--<td><%= link_to 'Destroy', match_score_path(@match, score), method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>
