<div class="container-fluid">

  <table class="table">
    <tr>
      <td>
        <h2>
          <%= @match.team_one.name %> Vs <%= @match.team_two.name %>
        </h2>
      </td>
      <% @flag = "" %>
      
      <% @total.each do |key, value| %>
        <% if key == @match.team_one.name && value == 29 %>
          <% @flag = "disable_link" %>
          <td>
            <h2 class="float-right">Winner: <%= key %> </h2>
          </td>
          <% elsif key == @match.team_two.name && value == 29 %>
            <% @flag = "disable_link" %>
            <td>
              <h2>Winner: <%= key %></h2>
            </td>
          <% end %>
        <% end %>
    </tr>  
  </table><br/>

<div class="container-fluid">
  <div class="container-fluid float-center">
    <h5> 
      Started: <%= @match.created_at.strftime("%d-%m-%Y %I:%M %p") %>
      <%= link_to 'All Matches', matches_path, class: "btn btn-primary float-right ml-2" %>
      <%= link_to 'Add Score', new_match_score_path(@match), class: "#{@flag} btn btn-success float-right " %>
    </h5>
  </div>
</div><br/>

<div class="container-fluid">
  <div class="row">
    <% @scores.each do |score| %>
      <div class="col-md-4 col-sm-6 col-xs-12 my-4">
        <div class="card border border-dark">
          <div class="card-body ">
            <h4 class="card-title text-center">Set #<%= score.set %> <%= score.created_at.strftime("%d-%m-%Y %I:%M %p") %></h4>
            <h1 class="card-title text-center"><%= score.team.name %> - <%= score.score %></h1>
            <h3 class="card-text text-center"><%= @match.team_one.name %> <%= @sum_team_one %> - <%= @sum_team_two %> <%= @match.team_two.name %> </h3>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>