<p id="notice"><%= notice %></p>

<p>
  <strong>Match:</strong>
  <%= @score.match %>
</p>

<p>
  <strong>Set:</strong>
  <%= @score.set %>
</p>

<p>
  <strong>Score:</strong>
  <%= @score.score %>
</p>

<p>
  <strong>Team:</strong>
  <%= @score.team %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
