<p id="notice"><%= notice %></p>

<p>
  <strong>Set:</strong>
  <%= @score.set %>
</p>

<p>
  <strong>Score:</strong>
  <%= @score.score %>
</p>

<p>
  <strong>Team:</strong>
  <%= @score.team.name %>
</p>

<%= link_to 'Edit', edit_match_score_path(@match, @score) %> |
<%= link_to 'Back', match_scores_path %>
