<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-flex justify-content-center" class="form-group row">
    <label class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-8">
      <%= form.text_field :name %>
    </div>
  </div>
  <div class="d-flex justify-content-center" class="form-group row">
    <label class="col-sm-2 col-form-label">Age</label>
    <div class="col-sm-8">
      <%= form.number_field :age %>
    </div>
  </div>
  <div class="d-flex justify-content-center" class="form-group row">
    <label class="col-sm-2 col-form-label">Gender</label>
    <div class="col-sm-8">
      <%= form.select :gender, [['Male', 1], ['Female', 2]] %>
    </div>
  </div>
  <div class="d-flex justify-content-center" class="form-group row">
    <div class="col-sm-10">
      <%= form.submit %>
    </div>
  </div>
<% end %>
