<div class="">
  <!-- <%= link_to 'New User', new_user_path, remote: true, class: "btn btn-primary" %> -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    New User
  </button>

  <%= link_to 'All Matches', matches_path, class: "btn btn-primary" %>
  <div id="myModal"></div>
</div>

<div class="card-columns" style="margin-top: 20px;">
  <% @users.each do |user| %>
    <div class="card border-secondary mb-3">
      <!--<img src="/assets/user1.jpg" alt="User Image" class="rounded float-left img-thumbnail">-->
      <div class="card-body">
        <h5 align="center" class="card-title">User Name: <%= user.name %></h5>
        <h5 align="center" class="card-title">Age: <%= user.age %></h5>
        <% if user.gender == 1 %>
          <h5 align="center" class="card-title">Gender: Male</h5>
        <% elsif %>
          <h5 align="center" class="card-title">Gender: Female</h5>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'form', user: @user %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id='add-new-user' class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
