<br>
<div class="container-fluid">
  <div class="container-fluid">
    <div> 
      <button type="button" class="btn btn-primary float-right ml-2" data-toggle="modal" data-target="#newUserModal">New User
      </button>
      <%= link_to 'All Matches', matches_path, class: "btn btn-success float-right " %>
    </div>
  </div>
</div><br/><br/>

<div class="container-fluid">
  <div class="row">
    <%@users.each do |user| %>
      <div class="col-6 col-md-4 col-sm-6 my-4">
        <table class="table-border col font-weight-bold">
          <tr class="text-center">
            <td class="align-middle"> User Name: <%= user.name %></td>
          </tr>
          <tr class="text-center">
            <td> Age: <%= user.age %></td>
          </tr>
          <tr class="text-center font-italic">
            <% if user.gender == 1 %>
              <td> Gender: Male </td>
            <% elsif user.gender == 2 %>
              <td> Gender: Female </td>
            <% end %>
          </tr>
        </table>
      </div>
    <% end %>
  </div>
</div>

<!--<div class="container-fluid">
  <div class="row">
    <% @users.each do |user| %>
      <div class=" col-6 col-md-4 col-sm-6 my-4">
        <div class="card border border-dark">
          <img src="/assets/user1.jpg" alt="User Image" class="rounded float-left img-thumbnail">
          <div class="card-body ">
            <div class="card-title text-center font-weight-bold h4">
              User Name: <%= user.name %>
            </div>
            <div class="card-text text-center font-weight-bold h4">
              Age: <%= user.age %>
            </div>
            <% if user.gender == 1 %>
              <div class="card-text text-center font-weight-bold font-italic h4">
                Gender: Male
              </div>
            <% elsif %>
              <div class="card-text text-center font-weight-bold font-italic h4">
                Gender: Female
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>-->

<!-- Modal -->
<div class="modal fade" id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'form', user: @user %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id='add-new-user' class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
