<p id="notice"><%= notice %></p>

<div class="">
  <%= link_to 'New User', new_user_path, remote: true, class: "btn btn-primary" %>
  <%= link_to 'All Matches', matches_path, class: "btn btn-primary" %>
  <div id="myModal"></div>
</div>

<div class="card-columns" style="margin-top: 20px;">
  <% @users.each do |user| %>
    <div class="card border-secondary mb-3">
      <!--<img src="/assets/user1.jpg" alt="User Image" class="rounded float-left img-thumbnail">-->
      <div class="card-body">
        <h5 align="center" class="card-title">User Name: <%= user.name %></h5>
        <h5 align="center" class="card-title">Age: <%= user.age %></h5>
        <% if user.gender == 1 %>
          <h5 align="center" class="card-title">Gender: Male</h5>
        <% elsif %>
          <h5 align="center" class="card-title">Gender: Female</h5>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

