<p id="notice"><%= notice %></p>

<div class="card-columns">
  <% @matches.each do |match| %>
    <div class="card border-secondary mb-3">
      <div class="card-body">
        <h1 class="card-title" align="center">Match <%= match.id %> </h1>
        <h2 class="card-title" align="center"><%= match.team_one.name %> Vs <%= match.team_two.name %></h2>
        <h2 class="card-title" align="center">Toss: <%= match.toss.name %> </h2>
        <h2 class="card-title" align="center"><%= link_to 'View Score', match_scores_path(match), class: "btn btn-success"%></h2>
      </div>
    </div>
  <% end %>
</div>