<div class="container-fluid">
  <div class="row">
    <% @matches.each do |match| %>
      <div class=" col-6 col-md-4 col-sm-6 my-4">
        <div class="card border border-dark">
          <div class="card-body card">
            <div class="card-title text-center">
              <div class="card-title font-weight-bold h1" align="center">
                Match <%= match.id %>
              </div>
              <div class="card-title font-weight-bold h2" align="center">
                <%= match.team_one.name %> Vs <%= match.team_two.name %>
              </div>
              <div class="card-title font-italic h4" align="center">
                <%= match.created_at.strftime("%d-%B-%Y %I:%M %p") %>
              </div>
              <div class="card-title font-italic font-weight-bold h3" align="center">
                Toss: <%= match.toss.name %>
              </div>
              <div class="card-title" align="center">
                <%= link_to 'View Score', match_scores_path(match), class: "btn btn-success btn-block" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>