<h1>Match Details</h1>
<p>
  <strong>Team one:</strong>
  <%= @match.team_one.name %>
</p>

<p>
  <strong>Team two:</strong>
  <%= @match.team_two.name %>
</p>

<p>
  <strong>Toss:</strong>
  <%= @match.toss.name %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
