<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <!--<h3 align="center"><%= @team.name %></h3>-->
    </tr>
  </thead>
</table>

<div class="">
  <%= link_to 'Add Member', new_team_member_path(@team) %> |
  <!-- <%= link_to 'View Users', users_path %> |
  <%= link_to 'All Teams', teams_path %> | -->
  <%= link_to 'All Matches', matches_path %>
</div>

<div class="card-columns float-xl-left" style="margin-top: 20px; margin-left: 330px; width: 60rem">
  <% @members.each do |member| %>
    <div class="card border-secondary mb-3">
      <!--<img src="/assets/user1.jpg" alt="User Image" class="rounded float-left img-thumbnail">-->
      <div class="card-body">
        <h5 align="center" class="card-title">User Name: <%= member.user.name %></h5>
        <h5 align="center" class="card-title">Team: <%= @team.name %></h5>
        <h5 align="center"class="card-title"><%= link_to 'Remove', team_member_path(@team, member), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%></h5>
      </div>
    </div>
  <% end %>
</div>