<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <!--<h3 align="center"><%= @team.name %></h3>-->
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="padding-right: 50px;"><%= link_to 'New Member', new_team_member_path(@team) %></td>
      <td style="padding-right: 50px;"><%= link_to 'View Users', users_path %></td>
      <td style="padding-right: 50px;"><%= link_to 'Back To Teams', teams_path %></td>
      <td><%= link_to 'Back To Matches', matches_path %></td>
    </tr>
  </tbody>
</table>

<div class="card-columns" style="margin-top: 20px; margin-left: 330px; width: 60rem">
  <% @members.each do |member| %>
    <div class="card border-secondary mb-3">
      <!--<img src="/assets/user1.jpg" alt="User Image" class="rounded float-left img-thumbnail">-->
      <div class="card-body">
        <h5 align="center" class="card-title">User Name: <%= member.user.name %></h5>
        <h5 align="center" class="card-title">Team: <%= @team.name %></h5>
        <h5 align="center"class="card-title"><%= link_to 'Remove', team_member_path(@team, member), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%></h5>
      </div>
    </div>
  <% end %>
</div>