<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th><h1>Members</h1></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="padding-right: 50px;"><%= link_to 'New Member', new_team_member_path(@team) %></td>
      <td style="padding-right: 50px;"><%= link_to 'View Users', users_path %></td>
      <td><%= link_to 'Back To Teams', teams_path %></td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Team</th>
      <th>User</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.team.name %></td>
        <td><%= member.user.name %></td>
        <td><%= link_to 'Show', team_member_path(@team, member) %></td>
        <td><%= link_to 'Edit', edit_team_member_path(@team, member) %></td>
        <td><%= link_to 'Destroy', team_member_path(@team, member), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>